<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141330271572-v6tokdrqokjhkdq46gtie1pfn515c8o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141330271572-v6tokdrqokjhkdq46gtie1pfn515c8o5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141330271572-inm04bncmq5bpfjspnp2669o4q6pr22u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaTvdC8cj4nQGRObogTnMOLz-LIkcSYaU</string>
	<key>GCM_SENDER_ID</key>
	<string>141330271572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.carbonfight</string>
	<key>PROJECT_ID</key>
	<string>actions-dd2b5</string>
	<key>STORAGE_BUCKET</key>
	<string>actions-dd2b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141330271572:ios:0a0d14e605c564d9aaccc1</string>
</dict>
</plist>