<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11012056131-ciq3vki8qino45qc2ku5ml00e6domjab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11012056131-ciq3vki8qino45qc2ku5ml00e6domjab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11012056131-elaa3gijiabd3n2rgema7uv3dqa18sjl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNYNwpbWySrTY14IpKaK1FGivkPan2icc</string>
	<key>GCM_SENDER_ID</key>
	<string>11012056131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.carbonfight</string>
	<key>PROJECT_ID</key>
	<string>carbonfight-89af6</string>
	<key>STORAGE_BUCKET</key>
	<string>carbonfight-89af6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11012056131:ios:804cbfa35bda6a9bda60f6</string>
</dict>
</plist>